# Dependencies
node_modules/

# Environment variables
.env
server/.env

# Uploads
uploads/consultas/*
!uploads/consultas/.gitkeep

# IDE
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
